<h2> This is how the data comes in in HTML. It will vary in size but the rowspan will always tell you how to iterate
  over
  the table as shown below in step 1.</H2>


<div>
  <table border="1">
    <thead>
    <tr>
      <th>Blue</th>
      <th>Black</th>
      <th>Pink</th>
      <th>Red</th>
      <th>Green</th>
      <th>White</th>
      <th>Grey</th>
      <th>Purple</th>
      <th>Yellow</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="13"><i>Main Data</i></td>
      <td rowspan="3">Data A</td>
      <td rowspan="10"> </td>
      <td rowspan="3"><i>Data b</i></td>
      <td><i>Data c</i></td>
      <td><i>Data d</i></td>
      <td>Data e</td>
      <td rowspan="7">Data r</td>
      <td rowspan="7">Data g</td>
    </tr>
    <tr>
      <td><i>Data w</i></td>
      <td></td>
      <td rowspan="2">Data k</td>
    </tr>
    <tr>
      <td><i>Data n</i></td>
      <td><i>Data p</i><br><i>Data h</i>
      </td>
    </tr>
    <tr>
      <td>Data o</td>
      <td>Data i</td>
      <td><i>Data u</i></td>
      <td><i>Data y</i></td>
      <td rowspan="4">Data t</td>
    </tr>
    <tr>
      <td rowspan="6">Data r</td>
      <td><i>Data e</i></td>
      <td><i>Data w</i></td>
      <td><i>Data qq</i></td>
    </tr>
    <tr>
      <td><i>Data zz</i></td>
      <td><i>Data xx</i></td>
      <td><i>Data cc</i></td>
    </tr>
    <tr>
      <td><i>Data vv</i></td>
      <td><i>Data bb</i></td>
      <td><i>Data nn</i></td>
    </tr>
    <tr>
      <td rowspan="2"><i>Data zzd</i></td>
      <td><i>Data gg</i></td>
      <td rowspan="2"><i>Data hh</i></td>
      <td><span class="ipinfo">Data pp</span></td>
      <td rowspan="3">Data cll</td>
      <td></td>
    </tr>
    <tr>
      <td><i>Data cwxwx</i></td>
      <td>Data qatyh</td>
      <td rowspan="2">Data djdj</td>
    </tr>
    <tr>
      <td><i>Data yhn</i></td>
      <td><i>Data rfvc</i></td>
      <td><i>Data yui</i></td>
      <td>Data rty</td>
    </tr>
    <tr>
      <td rowspan="3">Data edc</td>
      <td rowspan="3">Data xyw</td>
      <td><i>Data zxc</i></td>
      <td><i>Data xcv</i></td>
      <td><i>Data yui</i></td>
      <td>Data ryt</td>
      <td rowspan="3">Data cwer</td>
      <td rowspan="3">Data asd</td>
    </tr>
    <tr>
      <td><i>Data dfg</i></td>
      <td><i>Data fgf</i></td>
      <td><i>Data kkhk</i></td>
      <td>Data jjj</td>
    </tr>
    <tr>
      <td><i>Data yyy</i></td>
      <td><i>Data tt</i></td>
      <td><i>Data ff</i></td>
      <td>Data vv</td>
    </tr>
    </tbody>
  </table>
</div>



<h2> Step 1 duplicates individual cells that are spanned (For example "Main data" has a rowspan="13", it would create 13
  new cells with duplicate data in the first column in the right space.). The result looks like the following for the
  first column.</H2>

<div>
  <table border="1">
    <thead>
    <tr>
      <th>Blue</th>
      <th>Black</th>
      <th>Pink</th>
      <th>Red</th>
      <th>Green</th>
      <th>White</th>
      <th>Grey</th>
      <th>Purple</th>
      <th>Yellow</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><i>Main Data</i></td>
      <td rowspan="3">Data A</td>
      <td rowspan="10"> </td>
      <td rowspan="3"><i>Data b</i></td>
      <td><i>Data c</i></td>
      <td><i>Data d</i></td>
      <td>Data e</td>
      <td rowspan="7">Data r</td>
      <td rowspan="7">Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data w</i></td>
      <td></td>
      <td rowspan="2">Data k</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data n</i></td>
      <td><i>Data p</i><br><i>Data h</i>
      </td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data o</td>
      <td>Data i</td>
      <td><i>Data u</i></td>
      <td><i>Data y</i></td>
      <td rowspan="4">Data t</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td rowspan="6">Data r</td>
      <td><i>Data e</i></td>
      <td><i>Data w</i></td>
      <td><i>Data qq</i></td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data zz</i></td>
      <td><i>Data xx</i></td>
      <td><i>Data cc</i></td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data vv</i></td>
      <td><i>Data bb</i></td>
      <td><i>Data nn</i></td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td rowspan="2"><i>Data zzd</i></td>
      <td><i>Data gg</i></td>
      <td rowspan="2"><i>Data hh</i></td>
      <td><span class="ipinfo">Data pp</span></td>
      <td rowspan="3">Data cll</td>
      <td></td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data cwxwx</i></td>
      <td>Data qatyh</td>
      <td rowspan="2">Data djdj</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data yhn</i></td>
      <td><i>Data rfvc</i></td>
      <td><i>Data yui</i></td>
      <td>Data rty</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td rowspan="3">Data edc</td>
      <td rowspan="3">Data xyw</td>
      <td><i>Data zxc</i></td>
      <td><i>Data xcv</i></td>
      <td><i>Data yui</i></td>
      <td>Data ryt</td>
      <td rowspan="3">Data cwer</td>
      <td rowspan="3">Data asd</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data dfg</i></td>
      <td><i>Data fgf</i></td>
      <td><i>Data kkhk</i></td>
      <td>Data jjj</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td><i>Data yyy</i></td>
      <td><i>Data tt</i></td>
      <td><i>Data ff</i></td>
      <td>Data vv</td>
    </tr>
    </tbody>
  </table>
</div>


<h2> Step 1 is complete when all rowspans are duplicated properly </h2>


<div>
  <table border="1">
    <thead>
    <tr>
      <th>Blue</th>
      <th>Black</th>
      <th>Pink</th>
      <th>Red</th>
      <th>Green</th>
      <th>White</th>
      <th>Grey</th>
      <th>Purple</th>
      <th>Yellow</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data A</td>
      <td> </td>
      <td><i>Data b</i></td>
      <td><i>Data c</i></td>
      <td><i>Data d</i></td>
      <td>Data e</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data A</td>
      <td> </td>
      <td><i>Data b</i></td>
      <td><i>Data w</i></td>
      <td></td>
      <td>Data k</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data A</td>
      <td> </td>
      <td><i>Data b</i></td>
      <td><i>Data n</i></td>
      <td><i>Data p</i><br><i>Data h</i>
      <td>Data k</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data o</td>
      <td> </td>
      <td>Data i</td>
      <td><i>Data u</i></td>
      <td><i>Data y</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td> </td>
      <td><i>Data e</i></td>
      <td><i>Data w</i></td>
      <td><i>Data qq</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td> </td>
      <td><i>Data zz</i></td>
      <td><i>Data xx</i></td>
      <td><i>Data cc</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td> </td>
      <td><i>Data vv</i></td>
      <td><i>Data bb</i></td>
      <td><i>Data nn</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td> </td>
      <td><i>Data zzd</i></td>
      <td><i>Data gg</i></td>
      <td><i>Data hh</i></td>
      <td><span class="ipinfo">Data pp</span></td>
      <td>Data cll</td>
      <td></td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td> </td>
      <td><i>Data zzd</i></td>
      <td><i>Data cwxwx</i></td>
      <td><i>Data hh</i></td>
      <td>Data qatyh</td>
      <td>Data cll</td>
      <td>Data djdj</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td> </td>
      <td><i>Data yhn</i></td>
      <td><i>Data rfvc</i></td>
      <td><i>Data yui</i></td>
      <td>Data rty</td>
      <td>Data cll</td>
      <td>Data djdj</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data edc</td>
      <td>Data xyw</td>
      <td><i>Data zxc</i></td>
      <td><i>Data xcv</i></td>
      <td><i>Data yui</i></td>
      <td>Data ryt</td>
      <td>Data cwer</td>
      <td>Data asd</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data edc</td>
      <td>Data xyw</td>
      <td><i>Data dfg</i></td>
      <td><i>Data fgf</i></td>
      <td><i>Data kkhk</i></td>
      <td>Data jjj</td>
      <td>Data cwer</td>
      <td>Data asd</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data edc</td>
      <td>Data xyw</td>
      <td><i>Data yyy</i></td>
      <td><i>Data tt</i></td>
      <td><i>Data ff</i></td>
      <td>Data vv</td>
      <td>Data cwer</td>
      <td>Data asd</td>
    </tr>
    </tbody>
  </table>
</div>


<h2> Step 2 simple deletes the third colum which will always be called "Pink" </h2>


<div>
  <table border="1">
    <thead>
    <tr>
      <th>Blue</th>
      <th>Black</th>
      <th>Red</th>
      <th>Green</th>
      <th>White</th>
      <th>Grey</th>
      <th>Purple</th>
      <th>Yellow</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data A</td>
      <td><i>Data b</i></td>
      <td><i>Data c</i></td>
      <td><i>Data d</i></td>
      <td>Data e</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data A</td>
      <td><i>Data b</i></td>
      <td><i>Data w</i></td>
      <td></td>
      <td>Data k</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data A</td>
      <td><i>Data b</i></td>
      <td><i>Data n</i></td>
      <td><i>Data p</i><br><i>Data h</i>
      <td>Data k</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data o</td>
      <td>Data i</td>
      <td><i>Data u</i></td>
      <td><i>Data y</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td><i>Data e</i></td>
      <td><i>Data w</i></td>
      <td><i>Data qq</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td><i>Data zz</i></td>
      <td><i>Data xx</i></td>
      <td><i>Data cc</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td><i>Data vv</i></td>
      <td><i>Data bb</i></td>
      <td><i>Data nn</i></td>
      <td>Data t</td>
      <td>Data r</td>
      <td>Data g</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td><i>Data zzd</i></td>
      <td><i>Data gg</i></td>
      <td><i>Data hh</i></td>
      <td><span class="ipinfo">Data pp</span></td>
      <td>Data cll</td>
      <td></td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td><i>Data zzd</i></td>
      <td><i>Data cwxwx</i></td>
      <td><i>Data hh</i></td>
      <td>Data qatyh</td>
      <td>Data cll</td>
      <td>Data djdj</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data r</td>
      <td><i>Data yhn</i></td>
      <td><i>Data rfvc</i></td>
      <td><i>Data yui</i></td>
      <td>Data rty</td>
      <td>Data cll</td>
      <td>Data djdj</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data edc</td>
      <td><i>Data zxc</i></td>
      <td><i>Data xcv</i></td>
      <td><i>Data yui</i></td>
      <td>Data ryt</td>
      <td>Data cwer</td>
      <td>Data asd</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data edc</td>
      <td><i>Data dfg</i></td>
      <td><i>Data fgf</i></td>
      <td><i>Data kkhk</i></td>
      <td>Data jjj</td>
      <td>Data cwer</td>
      <td>Data asd</td>
    </tr>
    <tr>
      <td><i>Main Data</i></td>
      <td>Data edc</td>
      <td><i>Data yyy</i></td>
      <td><i>Data tt</i></td>
      <td><i>Data ff</i></td>
      <td>Data vv</td>
      <td>Data cwer</td>
      <td>Data asd</td>
    </tr>
    </tbody>
  </table>
</div>

<h2> Step 3 creates hashes and removes duplicates. </h2>

Main Data = ['Data A', 'Data o', 'Data r', 'Data edc'] <br><br><br>

Data A = Data b        <br>
Data o = Data i        <br>
Data r = Data e, Data zz, Data vv, Data zzd, Data yhn        <br>
Data edc = Data zxc, Data dfg, Data yyy        <br><br><br>

Data b = Data c, Data w, Data n      <br>
Data i = Data u                <br>
Data e = Data w            <br>
Data zz = Data xx        <br>
Data vv = Data bb            <br>
Data zzd = Data gg, Data cwxwx        <br>
Data yhn = Data rfvc        <br>
Data zxc = Data xcv        <br>
Data dfg = Data fgf        <br>
Data yyy = Data tt         <br><br><br>

Data c = Data d            <br>
Data w = nil            <br>
Data n = Data p "new line" Data h            <br>
Data u = Data y            <br>
Data w = Data qq            <br>
Data xx = Data cc            <br>
Data bb = Data nn            <br>
Data gg = Data hh            <br>
Data cwxwx = Data hh            <br>
Data rfvc = Data yui            <br>
Data xcv = Data yui            <br>
Data fgf = Data kkhk            <br>
Data tt = Data ff            <br>
<br><br>

<h2> Throughout the entire table </h2>

<br><br>

<h2> Step 4 creates hashes from the title of each column and removes duplicates </h2>

Blue = Main Data   <br>
Black = Data A, Data o, Data r, Data edc    <br>
